/**
 * Julia Truong Portfolio Website Styles
 * Design System: Pink (#ffa7a6) and white color scheme with Josefin Sans typography
 * Layout: Mobile-first responsive design using flexbox
 * Animations: CSS transitions triggered by JavaScript scroll observers
 */

/* Main container - centers content vertically and horizontally */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Background image styling - full viewport coverage */
img {
    width: 100%;
    height: 105%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
/* Main heading - large, centered title with Josefin Sans font */
.header {
    font-family: 'Josefin Sans';
    font-size: 75px;
    text-align: center;
    margin-bottom: 33px;
}

.project {
    min-height: 100vh;
}

h1 {
    font-size: 100px;
}

h5 {
    background-color: azure;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Social media and navigation buttons - pink theme with hover effects */
.button {
    display: flex; 
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 75px;
    width: 200px;
    background-color: #ffa7a6; /* Primary pink brand color */
    border: 1px solid transparent;
    border-radius: 1.3rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
    margin-right: 33px;
    font-family: 'Josefin Sans';
    font-size: 33px;
}

.button:active {
    background-color: #f25477;
}

.text {
    padding: 5%;
    font-family: 'Josefin Sans';
    font-size: 40px;
    text-align: center;
}

.backgroundborder {
    width: 100%;
}

.animate-on-scroll {
    transition: 1.5s;
}

.animate {
    width: 50%;
}
.pinkborder {
    height: 33px;
    margin-bottom: 33px;
    background-color: #ffa7a6;
    z-index: -1;
}

.border {
    margin-top: 13px;
}

.whiteborder {
    height: 33px;
    margin-bottom: 33px;
    background-color: white;
}


body {
    margin: 0px;
    padding: 0px;
}
